.main {

  position: relative;

  margin: 0;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .main {
    width: 100%;
    margin: 0;
  }
}
