.footer {
  width: 92.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 7.18%;
  padding-bottom: 1.87%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    width: 90.62%;
    padding-top: 8.98%;
    padding-bottom: 2.34%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    width: 93.7%;
    padding-top: 11.45%;
    padding-bottom: 3.12%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    width: 58.12%;
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 7.5%;
    padding-left: 5%;
    margin: 0;
  }
}
